* {
 scroll-behavior: smooth;
}

.bodyindex {
    background-color: #95ceac;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3rem;
    margin-left: 3rem;
}


.logoheader {
    width: 200px;
    height: 100px;
    position: relative;
    top: 10px;
    bottom: 30px;

}

.menuheader {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    justify-content: center;
    align-self: center;
    gap: 10px;

}

.botonjuguetes {
    background-color:#ffc40c;
    width: 6rem;
    height: 2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #000000;
    padding-top: 9px;
    border-radius: 5px;

}

.botonjuguetes:hover {
        background-color:#fff1ba;
}

.botonnosotros {
    background-color:#ac0010;
    width: 6rem;
    height: 2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 9px;
    border-radius: 5px;
}
.botonnosotros:hover {
    background-color:#e6a0ab;;
}

.botonnovedades {
    background-color:#12048d;
    width: 6rem;
    height: 2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 9px;
    border-radius: 5px;
}
.botonnovedades:hover {
    background-color:#96c2eb;
}

.botoncontacto {
    background-color:#4c2882;
    width: 6rem;
    height: 2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 9px;
    border-radius: 5px;
}
.botoncontacto:hover {
    background-color:#b9a7d5;
}
.tituloindex {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: #073820;
    margin-top: 2rem;
}

.botonseguinos {
    position: relative;
    top: 1rem;
    bottom: 1rem;
    background-color:#ffffff;
    width: 16rem;
    height: 2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    color: #f37d0e;
    padding-top: 8px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    border-radius: 5px;
    
}

.redestexto {
    color: #f37d0e;
}

.botonseguinosflex {
    display: flex;
    justify-content: center;
}

.presentacioncle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2rem;
    gap: 5rem;
}

.imgsidebar {
    width: 10rem;
    border-radius: 1rem;
}
.parrafojugarindex {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 20px;
    color: #106f40;
    text-align: justify;
    width: 25rem;
    }

.jugar {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    color: #106f40;
}

.palabrasdestacadas {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: #0f4429;
}

.videocle {
    border: 3px solid #246633;
    border-radius: 5px;
    width: 30rem;
}

.subtituloindex {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 30px;
position: relative;
top: 5rem;
    text-align: center;
    color: #073820;
}

.bannerjuguetes {
    display: flex;
    justify-content: center;
    position: relative;
    top: 6rem;

    flex-wrap: wrap;
}
.categoriasbannerjuguetes {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing:auto;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    background-image: url(../imagenes/fondojuguetesindex.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 40rem;
    padding: 1rem;
    border-radius: 1rem;
}

.categoriasbannerjuguetes:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.vermascont {
    display: flex;
    justify-content: center;
    position: relative;
    top:8rem;
}

.vermascont2 {
    display: flex;
    justify-content: center;
    position: relative;
    top:2rem;
}
.vermastxt {
    background-color:#ffc40c;
    width: 10rem;
    height: 2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #000000;
    padding:9px;
    border-radius: 5px;
}

.vermastxt:hover {
    background-color: #fff1ba;
}


.bodycontacto {
    background-color: #b9a7d5;
}

.bodynosotros {
    background-color: #e6a0ab;
}

.bodynovedades {
    background-color: #96c2eb;
}

.bodyjuguetes {
    background-color: #fff1ba;
}


.footercontainerindex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: relative;
    top: 10rem;
    flex-wrap: wrap;
}

.footercontainerindex2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: relative;
    top: 2rem;
    flex-wrap: wrap;
}
.redescontainer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.desarrollado {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10rem;
}

.desarrollado2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.h5footer {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #000000;   
}

.titulojuguetes {
    color: #f37d0e;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 40px;
    text-align: center;

}
.botonvolvercont {
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;

}

.botonvolver {
    background-color:#0e5e07;
    width: 10rem;
    height: 2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    padding:9px;
    border-radius: 5px;
}

.botonvolver:hover {
    background-color:#95ceac;
}

.fotosjuguetes {
    width: 100%;
    justify-self: center;
    
}

.titulosjuguetes {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #d44401;
    text-align: center;

}

.juguetescontainer {
    display: flex;
    justify-content: center;
    
    margin: 0 auto;

    max-width: 1000px;

}
.juguetesgrilla {
    display: grid;
    grid-template-columns: repeat(3,1fr);

    grid-gap: 10px;
    padding: 10px;

}





.imagenfooterjuguetes {
    width: 8rem;
    height: 8rem;
}

.imagenrrss {
    width: 2rem;
    height: 2rem;
}

.textorrss {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    padding-left: 0.5rem;
}

.Instagram {
    margin:0 10px;
}


.titulonovedades {
    color: #0b188a;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 40px;
    text-align: center; 
    margin-top: 2rem;
}

.linkcontainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
    flex-wrap: wrap;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
}

.imagenlink {
    width: 15rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 0.5rem;
    border: 2px dotted #12048d;
    border-style: 1rem;
}
.contenedortituloparrafo {
    background-color: #6e8daa;
    width: 15rem;
    height: 16rem;
    border-radius: 0.5rem;
}
.subtitulolink {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #0b188a;
    text-align: center;
    padding-top: 1rem;
    margin-top: 1rem;
}

.parrafolink {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 10px;
    color: #2a28b6; 
    margin: 0 auto;
    text-align: justify-all;
    width: 12rem;
}

.contenedorbtn {
    display: flex;
    justify-content: center;
}

.btnlink {
    border: none;
    border-radius: 0.5rem;
    background-color: #12048d;
    color: #FFFFFF;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    padding: 0.5rem;
    width: 4rem;
    margin-top: 0.5rem;

}

.volvertxt2 {
    background-color:#0e5e07;
    width: 10rem;
    height: 2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    padding:9px;
    border-radius: 5px;
}

.volvertxt2:hover {
    background-color:#95ceac;
}

.titulonosotros {
    color: #ac0010;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 40px;
    text-align: center; 
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.carousel {
    border-radius: 1rem; 
    overflow: hidden; 
}

.carousel-item img {
    border-radius: 1rem; 
    width: 100%; 
    height: auto; 
}

.parrafonosotros {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px;
    color: #ac0010;
    margin-top: 2rem;
    text-align: center;

}

.ultimafrase {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 20px;
    color: #50050c;
}

.titulocontacto {
    color: #4c2882;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 40px;
    text-align: center; 
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.subtitulocontacto {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    color: #33005e;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1; /* Para que el contenedor ocupe el espacio disponible entre el header y el footer */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 1px solid #b27ac4;
    border-radius: 8px;
    background-color: #cb96ee;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.h2form {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-variant: small-caps;
    font-size: 30px;
    margin: 0 0 15px;
    color: #5b0f72;;
}


.label {
    margin-bottom: 5px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 15px;
    color: #5b0f72;;
}

.input, .textarea, .select {
    width: 100%;
    padding: 10px;
    border: 1px solid #a77ff1;
    border-radius: 4px;
}

.button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5b0f72;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #972eee;
}
.subtituloubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-variant: small-caps;
    font-size: 20px;
    margin: 0 0 15px;
    color: #5b0f72;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.containerubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mapa {
    border-radius: 1rem;
}

.ubicacionparrafo {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 14px;
    color: #420061; 
    padding-left: 1rem;
}


@media only screen and (max-width: 600px) {
   
    .juguetesgrilla {
        grid-template-columns: 1fr;
    }

    .footercontainerjuguetes {
        justify-content: center;
        flex-direction: column;
    }
    .footercontainerindex {
        justify-content: center;
        flex-direction: column;
    }

    .footercontainerindex2 {
        justify-content: center;
        flex-direction: column;
    }

    .linkcontainer {
        margin: 0 auto;
    }

    .redescontainer {
        justify-content: center;
        flex-direction: column;
        
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .juguetesgrilla {
        grid-template-columns: repeat(2,1fr);
    }


    
    .footercontainerindex {
        justify-content: center;
        flex-direction: column;
    }

    .footercontainerindex2 {
        justify-content: center;
        flex-direction: column;
    }


}



