* {
  scroll-behavior: smooth;
}

.bodyindex {
  background-color: #95ceac;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 3rem;
  margin-left: 3rem;
}
.header .logoheader {
  width: 200px;
  height: 100px;
  position: relative;
  top: 10px;
  bottom: 30px;
}
.header .menuheader {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  justify-content: center;
  align-self: center;
  gap: 10px;
}
.header .botonjuguetes {
  width: 6rem;
  height: 2rem;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding-top: 9px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #ffc40c;
  color: #000000;
}
.header .botonjuguetes:hover {
  background-color: #fff1ba;
}
.header .botonnosotros {
  width: 6rem;
  height: 2rem;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding-top: 9px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #ac0010;
  color: #ffffff;
}
.header .botonnosotros:hover {
  background-color: #e6a0ab;
}
.header .botonnovedades {
  width: 6rem;
  height: 2rem;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding-top: 9px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #12048d;
  color: #ffffff;
}
.header .botonnovedades:hover {
  background-color: #96c2eb;
}
.header .botoncontacto {
  width: 6rem;
  height: 2rem;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding-top: 9px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #4c2882;
  color: #ffffff;
}
.header .botoncontacto:hover {
  background-color: #b9a7d5;
}

.tituloindex {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  font-optical-sizing: auto;
  color: #0e5e07;
  margin-top: 2rem;
}

.botonseguinosflex {
  display: flex;
  justify-content: center;
}
.botonseguinosflex .botonseguinos {
  background-color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: #f37d0e;
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-top: 2rem;
}
.botonseguinosflex .botonseguinos .redestexto {
  color: #f37d0e;
  text-decoration: none;
}

.presentacioncle {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2rem;
  gap: 5rem;
  flex-wrap: wrap;
}
.presentacioncle .imgsidebar {
  width: 10rem;
  border-radius: 1rem;
}
.presentacioncle .parrafojugarindex {
  text-align: justify;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 20px;
  color: #0e5e07;
  width: 25rem;
}
.presentacioncle .parrafojugarindex .jugar {
  font-style: italic;
}
.presentacioncle .parrafojugarindex .palabrasdestacadas {
  font-weight: 700;
  color: #0f3518;
}
.presentacioncle .videocle {
  border: 3px solid #246633;
  border-radius: 5px;
  width: 30rem;
}

.subtituloindex {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 30px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #0e5e07;
}

.bannerjuguetes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: 6rem;
}
.bannerjuguetes .categoriasbannerjuguetes {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  font-optical-sizing: auto;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  width: 40rem;
  padding: 1rem;
  border-radius: 1rem;
  background-image: url(../imagenes/fondojuguetesindex.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.bannerjuguetes .categoriasbannerjuguetes:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3019607843);
}

.vermascont {
  display: flex;
  justify-content: center;
  top: 8rem;
}
.vermascont .vermastxt {
  width: 6rem;
  height: 2rem;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding-top: 9px;
  border-radius: 5px;
  text-decoration: none;
  color: #000000;
  background-color: #ffc40c;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}
.vermascont .vermastxt:hover {
  background-color: #fff1ba;
}

.footercontainerindex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  top: 10rem;
  flex-wrap: wrap;
}
.footercontainerindex .imagenfooterjuguetes {
  width: 8rem;
  height: 8rem;
}
.footercontainerindex .redescontainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.footercontainerindex .redescontainer .imagenrrss {
  width: 2rem;
  height: 2rem;
}
.footercontainerindex .redescontainer .textorrss {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  padding-left: 0.5rem;
  text-decoration: none;
}

.desarrollado {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10rem;
}
.desarrollado .h5footer {
  font-family: "Quicksand", sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 11px;
}

/*# sourceMappingURL=styles.css.map */
