// Colors
$bodyindex: #95ceac;
$botonvolver: #0e5e07;
$bodyjuguetes: #fff1ba;
$botonvermasjuguetes: #ffc40c; 
$botonnosotros: #ac0010; 
$bodynosotros: #e6a0ab;
$botonnovedades:#12048d;
$bodynovedades: #96c2eb;
$bodycontacto:#b9a7d5;
$botoncontacto: #4c2882;

// Typography
$font-family-base: "Quicksand", sans-serif;
$base-font-size: 14px;
$font-size-title: 40px;
$coloroscuro: #000000;
$colorclaro: #ffffff;

// Spacing
$base-spacing: 10px;